fastapi==0.104.1
uvicorn==0.24.0
python-multipart==0.0.6
pydantic==2.5.2
pydantic-settings==2.1.0
python-dotenv==1.0.0
openai==1.59.7
dashscope==1.22.0
edge_tts==6.1.19
loguru==0.7.2
numpy==1.25.0
moviepy==2.1.1
decorator==4.4.2
imageio-ffmpeg==0.4.9
requests==2.31.0
Pillow==9.5.0
cloudinary==1.44.0
aeneas==1.4.0.0
boto3 == 1.37.38
playwright == 1.52.0
Markdown == 3.8
html2image
motor==3.4.0
pymongo==4.5 # Added to ensure compatibility with motor==3.4.0
dnspython==2.4.2 # For DNS resolution and SRV record lookup
# Authentication packages
bcrypt==4.0.1
passlib==1.7.4
python-jose[cryptography]==3.3.0
sendgrid==6.10.0
# For generating unique tokens for email verification
uuid==1.30
email-validator==2.1.0.post1
# Payment processing
paypalrestsdk==1.13.1