.formDiv {
    width: 100%;
    flex-shrink: 0;
    background-color: #f0f2f5;
    min-height: 100vh;
    overflow: auto;
}

.formCard {
    max-width: 1000px;
    overflow: auto;
    height: calc(100vh - 80px);
}

.sectionCard {
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    margin-bottom: 16px;
    border-radius: 8px;
}

.animationPreview {
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    padding: 16px;
    margin-top: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
}

.typingAnimation {
    display: inline-block;
    border-right: 0.15em solid;
    white-space: nowrap;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
    overflow: hidden;
}

.drawingAnimation {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: dash 2s linear forwards;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: currentColor; }
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
